# rust
/target
paniclog

# python
venv
__pycache__

# ML training
/logs
/checkpoints
*.log
/weights

# Emacs
*~
.*~
#*
.#*

# AI agents
/docs
.claude
CLAUDE.md
.agents
AGENTS.md
GEMINI.md

# mac
.DS_Store

# Games assets: too large
/assets
/tmp


